<h1>Companies List</h1>

<h2>Add New Company</h2>
<div>
  <label>Company Name:</label>
  <input placeholder="Company Name" #companyName />
  <input placeholder="Company GST Number" #companyGST />
  <button
    (click)="
      add(companyName.value, companyGST.value);
      companyName.value = '';
      companyGST.value = ''
    "
  >
    Add
  </button>
</div>

<h2>Companies List</h2>
<ul class="companies">
  <li *ngFor="let company of companies" (click)="onSelect(company)">
    {{ company.id }} {{ company.name }} {{ company.gst }}
  </li>
</ul>
<!-- 
<div *ngIf="selectedCompany">
  <h2>Selected Company Details</h2>
  {{ selectedCompany.name }}
</div> -->

<!-- <app-company-detail [company]="selectedCompany"></app-company-detail> -->
