<p>product works!</p>

<h2>Add New Product</h2>
<div>
  <label>Product Name:</label>
  <input placeholder="Product Name" #productName />
  <input placeholder="Product Cost" #productCost />
  <label for="selectedCompany"> Select Company: </label>
  <select
    name="productCompany"
    id="productCompany"
    [(ngModel)]="selectedCompany"
  >
    <option
      *ngFor="let company of companies"
      [(ngValue)]="company.id"
      (click)="onSelect(company)"
      >{{ company.name }}</option
    >
  </select>
  <button
    (click)="
      add(productName.value, productCost.value);
      productName.value = '';
      productCost.value = ''
    "
  >
    Add
  </button>
</div>

<h2>Product List</h2>
<ul class="products">
  <li *ngFor="let product of products">
    {{ product.name }} {{ product.cost }}
    {{ product.company.name }}
  </li>
</ul>
